* {
  padding: 0;
  margin: 0;
}

.todoapp-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  color: whitesmoke;
}

.container {
  display: flex;
  height: 80vh;
  border: 1px solid grey;
  padding: 20px;
  flex-direction: column;
  align-items: center;
}

.todoForm {
  display: flex;
  justify-content: space-around;
  width: 350px;
  align-items: center;
}

input {
  width: 80%;
  padding: 15px;
  border: none;
  border-radius: 20px;
  outline: none;
  margin: 10px;
}

.add-btn {
  padding: 5px 10px;
  height: 45px;
}