.prod-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80vh;
  border-radius: 6px;
  padding: 20px;
  margin: 0 auto;
  background-color: #e5a2a2a3
}

.prod-container .form-container {
  border-radius: 20px;
  padding: 25px;
  text-align: center;
  margin: 0 auto;
  border: 2px solid lightcoral;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.prod-container h1 {
  margin: 20px auto;
}


.prod-container .form-container .add-input {
  border: 1px solid rgb(81, 81, 81);
  width: 80%;
  padding: 7px 12px;
  margin: 10px 0px;
  outline: none;
  border-radius: 5px;
  text-align: center;
  font-weight: bolder;
  font-size: 1.2rem;
}

.sub-btn {
  width: 80%;
  padding: 10px 10px;
  margin-top: 7px;
  background-color: rgb(255, 108, 54);
  color: white;
  font-family: "Baloo Bhai 2", cursive;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
}

.sub-btn:hover {
  background-color: rgb(83, 83, 83);
  transition: 0.3s;
}


@media (max-width:400px) {
  .form {
    padding: 0px !important;
    width: 100%;
  }

  h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    width: 100%;
  }

  .prod-container {
    width: 100%;
    height: 100%;
  }
}