.signup-banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.7)), url("../assets/sign-banner.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px;
  object-fit: contain;
}

.form-box {
  width: 400px;
  height: 400px;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.form {
  position: relative;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
}

.form input {
  font-family: sans-serif;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  border-left: 5px solid rgb(132, 132, 132);
  width: 100%;
  margin: 0 0 15px;
  padding: 15px;
  font-size: 14px
}

.form button {
  font-family: sans-serif;
  width: 100%;
  color: white;
  font-size: 14px;
  cursor: pointer;
  padding: 15px;
  border: none;
  background: coral;
  margin-top: 15px;
}

@media (max-width:400px) {
  .form-box {
    width: 362px;
    height: 383px;
    padding: 20px;
  }
}