@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: -10;
  padding-top: 70px;
}

.header-container {
  display: flex;
  margin: 10px auto;
  background: #f44336;
  color: #f5f5f5;
  margin-bottom: 32px;
  margin-top: 32px;
  height: 48px;
  padding: 10px;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
  padding-left: 40px;
  padding-right: 20px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.header-text {
  flex: 1;
  font-size: 14px;
}

.store {
  height: 35px;
  margin-right: 15px;
}


.short-container {
  margin: 1px auto;
}

.card-container {
  width: 70%;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  background: white;
  padding: 10px 16px 10px 8px;
  border-radius: 3px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-img {
  height: 258px;
  width: 310px;
  border-radius: 4px;
  margin: 5px;
}

.info {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.info-heading {
  color: #44444de4;
  font-size: 20px;
  line-height: 27px;
  font-weight: 100 !important;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 13px;
}

.info-subheading {
  color: #808290bb;
  font-size: 12px;
  margin-bottom: 15px;
}

.info-desc {
  font-size: 16px;
  line-height: 22px;
  color: #44444db5;
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
}


@media only screen and (max-width:700px) {
  .hidden {
    display: none;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  .info {
    padding: 10px;
    padding-top: 0px;
  }

  .card-img {
    height: 228px;
    width: 280px;
  }

}