.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 1rem;
}

.icon {
  font-size: 2rem;
  color: #6900ff;
  margin-right: 5px;
}

.purple {
  color: #6900ff;
}