@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.acord-container {
  width: 100%;
  text-align: left;
  margin-top: 55px;
}

.accordian {
  width: 70%;
  margin: 2px auto;
  margin-top: 50px;
}

.acord-header {
  font-size: 2.2rem;
  text-align: center;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.item {
  background: #303030;
  margin-bottom: 5px;
  padding: 10px 20px;
}

.title {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.content {
  padding: 10px;
  display: none;
  text-align: left;

}

.content.show {
  display: block;
  transition: display 1s linear;
}