@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body {
  font-family: 'Montserrat', sans-serif !important;
  background-color: whitesmoke !important;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 100;
}


.logo {
  width: 40px;
  border-radius: 20px;
  object-fit: cover;
}

.empty-cart {
  width: 250px;
  height: 250px;
  border-radius: 120px;
}

.cartitem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
  margin-bottom: 20px;
}

.cartItemImg {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.cartItemDetail {
  display: flex;
  flex: 1;
  padding: 0 20px;
  flex-direction: column;
}

.prod-cart-title {
  font-size: 0.7rem;
  color: #555;
}

.cart-prod-img {
  width: 80px;
  height: 80px;
}

.dropDown,
.search {
  margin-left: 18px;
}

.dropdown-menu.show {
  width: 270px !important;
  text-align: center;
  flex-direction: column;
  overflow-y: scroll;
  height: 350px;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.dropdown-menu.show::-webkit-scrollbar {
  display: none !important;
}

.home {
  display: flex;
  padding-top: 65px;
}

.productContainer {
  margin-left: 270px;
  display: flex;
  width: 78%;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.image {
  margin: 5px auto;
  width: 180px;
  height: 180px;
  border-radius: 20px !important;
}


.filters {
  background-color: #343a40;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 10px;
  height: 86vh;
  position: fixed;
  z-index: 2;
}

.filters>span {
  padding-bottom: 20px;
}

.cart-filters {
  background-color: #343a40;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 10px;
  height: 86vh;
  position: fixed;
}

.cart-list-prod {
  width: 65% !important;
  padding-left: 20px;
}

.title {
  font-size: 30px;
}

.prod-title {
  font-size: 1rem;
  color: #555;
}

.delivery {
  font-size: 0.8rem;
  color: rgba(102, 102, 102, 0.795) !important;
}

.prod-price {
  color: green;
  margin-bottom: 12px;
}

.products {
  padding: 15px;
  width: 290px;
  margin: 10px;
  border-radius: 20px !important;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}


.ratings {
  color: yellow;
  font-size: 17px;
  cursor: pointer;
}

.prod-ratings {
  color: rgb(235, 235, 2);
  font-size: 17px;
  cursor: pointer;
  margin-top: 10px !important;
}


.Btn-Container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}


.Buy-Btn {
  margin-top: 25px;
}

.total {
  margin-top: 10px;
}

@media (max-width:700px) {

  .main-container {
    display: flex;
    flex-direction: column;
  }
}